.App {
  text-align: center;
  background-color: #333333;
  min-height: 300px;
  width: 100%;
  padding-bottom: 50px;
}

#QAlogo {
  height: 55px;
}

#pageHeading {
  padding: 30px;
  color: white;
}

::placeholder {
  color: red;
  text-align: center;
}



/* NAVBAR ---------------------------------*/
#nav-item {
  padding: 10px;
  font-size: large;
}

#nav-item:hover {
  background: rgb(255, 255, 255);
  color: blue;
}

#pageComponent {
  margin: 10px;
}



/* MAIN SELLERS PAGE -----------------------*/

#sellersPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL SELLERS TABLE ------------------*/
#allSellers {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allSellers th {
  width: 16%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allSellers td {
  width: 16%;
  border: solid 1px black;
  word-wrap: break-word;
}

#allSellers tr:nth-child(even) {
  background-color: #c4c4c4;
}

#allSellers input {
  width: 100%;
}



/* ADD SELLER ------------------------------*/
#addSellerForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

#addButton {
  margin-left: 20px;
}




/* MAIN BUYERS PAGE -----------------------*/

#buyersPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL BUYERS TABLE ------------------*/
#allBuyers {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allBuyers th {
  width: 16%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allBuyers td {
  width: 16%;
  border: solid 1px black;
  word-wrap: break-word;
}

#allBuyers tr:nth-child(even) {
  background-color: #c4c4c4;
}

#allBuyers input {
  width: 100%;
}



/* ADD BUYER ------------------------------*/
#addBuyerForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

.marginedButton {
  margin-left: 20px;
}





/* MAIN PROPERTIES PAGE -----------------------*/

#propertiesPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL PROPERTIES TABLE ------------------*/
#allProperties {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allProperties th {
  width: 9%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allProperties td {
  width: 9%;
  border: solid 1px black;
  word-wrap: break-word;
}

#allProperties tr:nth-child(even) {
  background-color: #c4c4c4;
}

#allProperties input {
  width: 100%;
  height: fit-content;
}



/* SUBMIT PROPERTIES ------------------------------*/
#submitPropertyForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

.marginedButton {
  margin-left: 20px;
}