/* NAVBAR ---------------------------------*/
/* #navbar {          everything is build off the navbar so can't perma-lock it to top of screen
  position: fixed;  
  top: 0;
} */

#nav-item {
  padding: 10px;
  font-size: large;
}

#nav-item:hover {
  background: rgb(255, 255, 255);
  color: blue;
}


#QAlogo {
  height: 55px;
}



/* PAGE BODY / global ------------------------------*/
.App {
  text-align: center;
  background-color: #333333;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}


#pageHeading {
  padding: 30px;
  color: white;
}

#pageComponent {
  margin: 10px;
}

::placeholder {
  color: red;
  text-align: center;
}



/* FOOTER ----------------------------------*/
/* .myfooter {
  margin-top: auto;
  padding: 30px;
  background: white;
  text-align: left;

} */



/* MAIN SELLERS PAGE -----------------------*/
#sellersPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL SELLERS TABLE ------------------*/
#allSellers {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allSellers th {
  width: 16%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allSellers td {
  width: 16%;
  border: solid 1px black;
  word-wrap: break-word;
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;

}

#allSellers tr:nth-child(even) {
  background-color: #c4c4c4;
}

#allSellers input {
  width: 100%;  
  padding: 5px;
}



/* ADD SELLER ------------------------------*/
#addSellerForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

#addButton {
  margin-left: 20px;
}




/* MAIN BUYERS PAGE -----------------------*/

#buyersPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL BUYERS TABLE ------------------*/
#allBuyers {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allBuyers th {
  width: 16%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allBuyers td {
  width: 16%;
  border: solid 1px black;
  word-wrap: break-word;
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#allBuyers tr:nth-child(even) {
  background-color: #c4c4c4;
}

#allBuyers input {
  width: 100%;
  padding: 5px;
}



/* ADD BUYER ------------------------------*/
#addBuyerForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

.marginedButton {
  margin-left: 20px;
}





/* MAIN PROPERTIES PAGE -----------------------*/

#propertiesPage span {
  margin: 10px;
  border: solid 1px black;
  background-color: grey;
  color: black;
  padding: 10px;
}

.linkColour {
  color: black;
}



/* VIEW ALL PROPERTIES TABLE ------------------*/
#allProperties {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#allProperties th {
  width: 9%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#allProperties td {
  width: 9%;
  border: solid 1px black;
  word-wrap: break-word;
  padding: 3px;
}

#allProperties tr:nth-child(even)  {
  background-color: #c4c4c4;
}

#allProperties input {
  width: 100%;
  padding: 10px;
}



/* SUBMIT PROPERTIES ------------------------------*/
#submitPropertyForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: white;
}

.marginedButton {
  margin-left: 20px;
}



/* FILTER PROPERTIES ------------------------------*/
#filterPropertiesForm {
  width: 97.25%;
  border: dashed 1px white;
  padding: 20px;
  margin: 20px;
  color: white;
}

#filterPropertiesForm .filterDropdowns {
  padding: 10px;
  margin: 10px;
  width: 340px;
  text-align: center;
}

#filterPropertiesForm .numberInputs {
  width: 35px;
  text-align: center;
}

/* FILTERED TABLE */
#filteredPropertiesTable {
  width: 98.5%;
  border: solid 2px black;
  margin: 10px;
  align-items: center;
  table-layout: fixed;
  background-color: white;
}

#filteredPropertiesTable th {
  width: 9%;
  border: solid 2px black;
  text-align: center;
  padding: 3px;
}

#filteredPropertiesTable td {
  width: 9%;
  border: solid 1px black;
  word-wrap: break-word;
  padding: 3px;
}

#filteredPropertiesTable tr:nth-child(even) {
  background-color: #c4c4c4;
}

#filteredPropertiesTable input {
  align-items: center;
  height: 100%;
  width: 100%;
}



/* VIEW PROPERTY ---------------------------------------*/
#viewPropertyPage {
  align-items: center;
  width: 100%;
}

#viewPropertyTable {
  width: 97%;
  margin: 20px;
  align-items: center;
  color: white;
  border: solid 3px white;
}
#viewPropertyTable td {
  border: dotted 2px white;
  border-right: solid 3px white;
  padding: 10px;
}

#viewPropertyFunctionality {
  align-items: center;
}
#viewPropertyFunctionality input{
  align-items: center;
  padding: 15px;
  width: 250px;
}